{% extends "neighbourhoods/neighbourhood_base.html" %}
{% block preneighbourhood %}
<div class="card mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{neighbourhood.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Occupant Count: {{neighbourhood.occupants.count}}</h6>
    {% if user in neighbourhood.occupants.all %}
    <a href="{% url 'neighbourhoods:leave' slug=neighbourhood.slug %}" class="card-link"> <i class="fa fa-sign-out"></i> Leave</a>
    {% else %}
    <a href="{% url 'neighbourhoods:join' slug=neighbourhood.slug %}" class="card-link"> <i class="fa fa-sign-in"></i> Join</a>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block neighbourhood_content %}
<div class="mt-3 ml-3">
  {% if neighbourhood.businesses.count == 0 %}
  <h4>No Businesses in this neighbourhood yet!</h4>
  {% else %}
    {% for business in neighbourhood.businesses.all %}
     {% include "posts/_post.html" %}
    {% endfor %}
  {% endif%}
</div>

{% endblock %}
