

h1{
  padding-top: 100px;
  text-align: center;
  color: #59c9f9;
  font-weight: bold;

}
h4{
  text-align: center;
  text-decoration: none;
}
h5{
  text-align: center;
  color: #59c9f9;
}

body {
    background: #eee;
  }
  .navbar {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   padding: 50px;
   border-bottom: 8px solid #ddd;
   background:#1B8ADB;
