{% extends "neighbourhoodapp/neighbourhood_base.html" %}
{% block preneighbourhood %}
<div class="card mt-3" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title">{{neighbourhood.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Occupant Count: {{neighbourhood.occupants.count}}</h6>
    {% if user in neighbourhood.occupants.all %}
    <a href="{% url 'neighbourhoodapp:leave' slug=neighbourhood.slug %}" class="waves-effect waves-light btn">Leave Neighbourhood</a>
    {% else %}
    <a href="{% url 'neighbourhoodapp:join' slug=neighbourhood.slug %}" class="waves-effect waves-light btn">join Neighbourhood</a>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block neighbourhood_content %}
<div class="mt-3 ml-3">
  {% if neighbourhood.businesses.count == 0 %}
  <h4>No Businesses in this neighbourhood yet!</h4>
  {% else %}
    {% for business in neighbourhood.businesses.all %}
     {% include "posts/_post.html" %}
    {% endfor %}
  {% endif%}
</div>

{% endblock %}
