<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <!-- I like to use this because it modifies the bootstrap theme-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  <title>Neighbourhood</title>
</head>

<body>
<nav class="navbar navbar-dark" style="background-color:#1B8ADB;">
     <a class="navbar-brand" href="{% url 'home' %}">
       <img src="{% static 'images/home2.png' %}" width="100" height="100" alt=" NEIGHBOURHOOD WATCH">NEIGHBOURHOOD WATCH
     </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"   style="background-color:#001f3f;" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      {% if user.is_authenticated %}

    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'neighbourhoodapp:all' %} " style="background-color:	#001f3f;">Neighbourhoods<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'neighbourhoodapp:create' %}"  style="background-color:	#001f3f;">Enter  Neighbourhood</a>
      <a class="nav-item nav-link"  href="{% url 'posts:create' %}"  style="background-color:	#001f3f;">Enter a Business</a>
      <a class="nav-item nav-link disabled"  href="{% url 'accounts:logout' %}"  style="background-color:	#001f3f; ">Log Out</a> {% else %}
      <a class="nav-item nav-link disabled"  href="{% url 'neighbourhoodapp:all' %}" style="background-color:	#001f3f;" >Neighbourhoods</a>
      <form class="form-inline" role="search" action="">
    <div class="input-group">
      <input class="form-control mr-sm-2" type="text" placeholder="Search "  aria-label="Search">

    </div>
  </form>

         {% endif %}
    </div>
  </div>
</nav>


  {% block content %} {% endblock %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
